# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
next-env.d.ts
tsconfig.tsbuildinfo

# Build
build
dist

# Logs
*.log
.logs

# Environment
.env
.env*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Testing
coverage
.vitest-cache

# Vercel
.vercel
